section{
    width: 90%;
    max-width: 375px;
    background-color: white;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    margin: 0 auto;
    padding:  20px 30px 30px;
    border-radius: 10px;
    h2{
        color: $clr-darkgray;
    }
    p{
        color: $clr-grayishblue;
        font-size: 13px;
    }
    .img{
        margin-top: 30px;
        display: flex;
        justify-content: flex-end;
        align-items:center;
    }
    
}
.Supervisor{
    @include border-top($clr-cyan);
    grid-area: Supervisor;
    max-height: 225px;
}
.Team-Builder{
    @include border-top($clr-red);
    grid-area: TeamBuilder;
    max-height: 225px;
}
.Karma{
    @include border-top($clr-orange);
    grid-area: Karma;
    max-height: 225px;
}
.Calculator{
    @include border-top($clr-blue);
    grid-area: Calculator;
    max-height: 225px;
    
}

@media only screen and (min-width: 900px){
    .Calculator{
        max-height: 225px;
        position: relative;
        top: 115px;
    }
    .Supervisor{
        max-height: 225px;
        position: relative;
        top: 115px;
    }
}


