@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

/* Primary */
$clr-red:hsl(0, 78%, 62%);
$clr-cyan: hsl(180, 62%, 55%);
$clr-orange:hsl(34, 97%, 64%);
$clr-blue: hsl(212, 86%, 64%);

/* Neutral */
$clr-darkgray: hsl(234, 12%, 34%);
$clr-grayishblue: hsl(229, 6%, 66%);
$clr-lightgray: hsl(0, 0%, 98%);

/* Font-Weight */
$weight-small: 200;
$weight-normal: 400;
$weight-bold: 600;

/* Font-family */
$fontfamily-primary: 'Poppins', sans-serif;

